
/*FOOTER */


.contenedorFooter{
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    list-style-type: none;
    justify-content: center;
    padding-top: 30px;

    @if screen and (max-width:992px){
    padding-left: 32px;
    }
    }
    
    .logoFooter{
    margin-bottom: 16px;
    }

    @media screen and (max-width:992px){
        .logoFooter{
            margin-bottom: 16px;
            width: 322px;
            height: auto;
            }
    }
    
    .contenedorFooter1{
    width: 451px;
    margin-right: 150px;
    color: white;    
    }
    
    @media screen and (max-width:992px){
        .contenedorFooter1{
            margin-bottom: 16px;
            margin-left: 12px;
            width: 100%;
            height: auto;
            }
    }


    .footerColumna1{
    margin-right: 150px;
    color: white;
    }
    
 
    @media screen and (max-width:992px){
    .footerColumna1{
    margin-bottom: 16px;
    margin-left: 12px;
    width: 100%;
    height: auto;
    }
    }


    .centroDeAyuda{
    margin-right: 150px;
    }

    @media screen and (max-width:992px){
        .centroDeAyuda{
            margin-bottom: 16px;
            margin-left: 12px;
            width: 700px;
            height: auto;
            }
    }
    
    .creditosFooter{
    text-align-last: center;
    justify-items: center;
    }

    @media screen and (max-width:992px){
        .creditosFooter{
            margin-bottom: 16px;
            text-align: center;
            width: 700px;
            height: auto;
            margin-top: 16px;
            }
    }
    
    @media screen and (max-width:992px){
        .siguenos{
            margin-bottom: 16px;
            margin-left: 12px;
            width: 700px;
            height: auto;
            margin-bottom: 32px;
            }
    }

    .tituloMedioPagoFooter{
        margin-top: 16px;
        margin-bottom: 8px;
    }
