.bannerSeccionesContacto{
    width: 100%;
    height: 386px;
    background-image:  url(../img/contectenos.png);
    background-repeat: no-repeat;
}

@media screen and (max-width:992px){
.bannerSeccionesContacto{
    width: 100%;
    height: 386px;
    background-image:  url(../img/banner_contactomobile.png);
    background-repeat: no-repeat;
}
}

.bannerSeccionesNosotros{
    width: 100%;
    height: 386px;
    background-image:  url(../img/quienes-somos.png);
    background-repeat: no-repeat;
}

@media screen and (max-width:992px){
.bannerSeccionesNosotros{
    width: 100%;
    height: 386px;
    background-image:  url(../img/quienes-somos.png);
    background-repeat: no-repeat;
}
}

.titulosBannerSecciones{
    text-align: center;
padding-top: 169px;
    color: white;
}

.boxContactenos{
max-width: 776px;
height: auto;
padding-top: 93px;
margin-bottom: 120px;
text-align: center;
justify-content: center;
margin-left: 327px;
}

@media screen and (max-width:992px){
    .boxContactenos{
        max-width: 776px;
        height: auto;
        padding-top: 93px;
        margin-bottom: 120px;
        text-align: center;
        justify-content: center;
        margin-left: 32px;
        margin-right: 32px;
        }
        
}

.boxQuienesSomos{
display: flex;
text-align: center;
justify-content: center;
flex-wrap: wrap;

}


.bienvenidosTitulo{
    justify-content: center;
    text-align: center;
    display: flex;
    color: white;
    margin-top: -280px;
}

.encabezado{
    justify-content: center;
    text-align: center;
    margin-top: 100px;
}

.reseñaDeMarca{
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px; 
}

