.contenedorMiga{
    padding-top: 16px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}


.migaPanCategorias{
    margin-left: 64px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 32px;
}

@media screen and (max-width:992px){
    .migaPanCategorias{
    padding-top: 2px;
    margin-bottom: 16px;
    display: flex;
    flex-wrap: wrap;
}  
  }


.viñeta{
    list-style-type: none;
}

.listCategorias{
    margin-bottom: 16px;
    margin-left: 0px;
}

.contenedorListCategorias{
    margin-left: 60px;
    max-width: 200px;
    float: left;
}

@media screen and (max-width:992px) {
    .contenedorListCategorias{
       display: none;
    }
}

.contenedorFiltroMobile{

 display: flex;
}


.filtroMobile{
 border-color: black;
 border: solid;
 width: 114px;
 height: 41px;
 background-color: white;
 cursor: pointer;
 font-size: 20px;
 border: none;
 display: flex;
 justify-content: center;
}

@media screen and (min-width:992px) {
    .filtroMobile{
    display: none;
    }  
}

.productosGrid{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: center;
    margin-left: 25px;
    width: 1190px;
}

.contenedorProductosGrid{
display: flex;
flex-wrap: wrap;
max-width: 1200px;
padding-left: 5%;
}




