$global: helvetica;

@media screen and (max-width:992px){
    h4{
    font-size: 12px;
    }
 }


sub{
font-size: 18px;
font-weight: 700;

}
p{
    font-size: 14px;
}

a{
    color: #cccccc;
    text-decoration: none;
}


